@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.post__image-container {
  width: 100%;
}

.post__image-container > span {
  position: unset !important;
}

.post__image {
  object-fit: cover;
  width: 100% !important;
  /* min-height: 250px !important; */
  position: relative !important;
  height: unset !important;
}
